{% load static %}
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  
  <title>Ai-Mentee</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css'><link rel="stylesheet" href="{% static '/style.css' %}">
  

</head>
<body>
<!-- partial:index.partial.html -->
<h2>Ai-Mentee - Ai Based LMS </h2>
<div class="container" id="container">
	<div class="form-container sign-up-container">
		<form action="{% url 'log_sig' %}" method="POST">
			{% csrf_token %}
			<h1>Create Account</h1>
			<div class="social-container">
				<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
				<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
				<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
			</div>
			<span>or use your email for registration</span>
			{{ signup_form.name.errors }}
			<input type="text" placeholder="Name" name="name" value="{{ signup_form.name.value }}" required />
			
			{{ signup_form.email.errors }}
			<input type="email" placeholder="Email" name="email" value="{{ signup_form.email.value }}" required />
			
			{{ signup_form.password1.errors }}
			<input type="password" placeholder="Password" name="password1" required />
			
			{{ signup_form.password2.errors }}
			<input type="password" placeholder="Confirm Password" name="password2" required />
			
			<button type="submit">Sign Up</button>
		</form>
	</div>
	<div class="form-container sign-in-container">
		<form action="{% url 'log_sig' %}" method="POST">
			{% csrf_token %}
			<h1>Sign in</h1>
			<div class="social-container">
				<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
				<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
				<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
			</div>
			<span>or use your account</span>
			{{ login_form.username.errors }}
			<input type="email" placeholder="Email" name="username" value="{{ login_form.username.value }}" required />
			
			{{ login_form.password.errors }}
			<input type="password" placeholder="Password" name="password" required />
			
			<a href="#">Forgot your password?</a>
			<button type="submit">Sign In</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Welcome Back!</h1>
				<p>To keep connected with us please login with your personal info</p>
				<button class="ghost" id="signIn">Sign In</button>
				<a href="{% url 'home' %}"><p><button class="ghost" id="signIn">Home</button></p></a>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Hello, Learners!</h1>
				<p>Enter your personal details and start journey with us</p>
				<button class="ghost" id="signUp">Sign Up</button>
				<a href="{% url 'home' %}"><p><button class="ghost" id="signIn">Home</button></p></a>
				
			</div>
		</div>
	</div>
</div>


<!-- partial -->
  <script  src="{% static '/script.js' %}"></script>

</body>
</html>
